.recentPosts {
  margin-top: 48px;
  padding-top: 8px;
}
.title {
  padding: 4px 4px 0;
  font-size: 20px;
  font-weight: bold;
  border-bottom: none;
  color: var(--font-color);
}
.carouselWrapper {
  margin-top: 20px;
}
